<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <style>
        .listing-item,  .favorite i {
            cursor: pointer;
        }
        .favorite i {
            font-size: 26px;
            color: red;
        }
    </style>
</head>
<body>
    <div class="container content" id="app">
        <h1 class="title">Notre équipe</h1>
        <div class="columns">
            <div class="column is-one-quarter">
                <ul class="listing">
                    <li class="listing-item" v-for="(item, key) in team" :key="key" :data-key="key" @click="switchPerson(key)">{{ item.prenom }}</li>
                </ul>
            </div>
    <div class="column">
    <section class="section">
        <card v-if="active" :qui="active" @update_favorite="updateFavorite"></card>
    </section> 
</div>   <!-- .column -->

</div><!-- .columns -->

</div><!-- .container -->

<script src="https://unpkg.com/vue@next"></script>
<script src="projet12.js"></script>
</body>
</html>