<!doctype html>
    <html lang="fr">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Première app Vue</title>
            <link rel="stylesheet" href="">
            <style>
                [v-cloak] {
                    display: none;
                }
                .done {
                    background-color: rgba(255,0,0,.10);
                }
                .task {
                    margin-top: 5px;
                }
            </style>
            
        </head>
        <body>
            <div id="app">
                <div class="loading" v-if="loading">Loading</div>
                <section v-cloak v-else>
                    <h1>Nouvelle tâche ?</h1>
                    <form ref="formAddTask" action="" @submit.prevent="addTask">
                        <input type="text" v-model.lazy.trim="newTask.label" placeholder="label">
                        <button>Enregistrer</button>
                        <hr>
                        <h2>Liste des tâches</h2>
                        <ul v-if="tasks.length > 0">
                            
                            <li class="task" :class="{done: task.done}" :key="index" :data-key="index" v-for="(task, index) in tasks">{{ task.label }} <a href="#" class="doneclick" @click.prevent="changeDone(index)">V</a> <a href="#" class="doneclick" @click.prevent="delTask(index)">X</a></li>
                        </ul>
                        <p v-else>Liste vide</p>
                    </form>
                </section>
            </div>
            <script src="https://unpkg.com/vue@next"></script>
            <script >
                const { ref } = Vue
                const app = Vue.createApp({
                    name: "App",
                    setup(){
                       let newTask = ref({
                                label: "",
                                done: false
                            })
                       loading = ref(true)
                       tasks = ref([])
                       const formAddTask = ref(null)
                        const updateLocalStorage = () => {
                              localStorage.setItem("tasks", JSON.stringify(tasks.value))
                        }
                        const addTask = () => {
                            //alert('test')
                            tasks.value.push({... newTask.value})
                            updateLocalStorage()
                            formAddTask.value.reset()
                            newTask.value = {
                                label: "",
                                done: false,
                            }
                        }
                        const changeDone = (index) => {
                            //alert(index)
                            tasks.value[index].done = !tasks.value[index].done
                            updateLocalStorage()
                        }
                        const delTask = (index) => {
                            //alert(index)
                            tasks.value.splice(index,1)
                            updateLocalStorage()
                        }
                        return {loading, newTask, tasks, delTask, changeDone, addTask, formAddTask}
                    },
                    created() {
                        if(localStorage.tasks) {
                            tasks.value = JSON.parse(localStorage.tasks)
                        }
                    },
                    mounted() {
                        setTimeout(() => {
                            loading.value = false
                        },2000)
                    }
                })
                const vm = app.mount('#app')
            </script>
        </body>
    </html>